@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.header {
    font-family: 'Press start 2P';
    font-size: 20px; 
    flex-direction: column;
    text-align: center;
}

.header > div > img {
    width: 60px;
    height: 60px;
    padding: 10px;
}

.contenedor > div{
    border: 1px solid white;
    padding: 10px;
    background-color: black;

}