.principal {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}


.carousel-item img {
    height:300px;
    width: 300px;
    object-fit: contain; 
    object-position: center;
}


    .principal{
        grid-area: p;
       
    }

    .contenedor > div{
    border: 1px solid white;
    padding: 10px;
    background-color: black;

}